/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Landing Modal ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.modal-switch {
  cursor: pointer;
  color: royalblue;
}

.modal-switch:hover {
  text-decoration: underline;
}

.modal-transition {
  transition: all 1s ease;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Dashboard glow and size ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.dashboard-container {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  background: linear-gradient(129deg, #8a0785, #f709ee, #a109f7, #ffd800, #953fbd);
  background-size: 600% 600%;
  animation: linesGradient 30s ease infinite;
}

@keyframes linesGradient {
  0% {
    background-position: 94% 0%;
  }
  50% {
    background-position: 7% 100%;
  }
  100% {
    background-position: 94% 0%;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Navbar  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#nav-table {
    font-family: helvetica;
    color: white;
    width: 100%;
    height: 100%;

}



#nav-table th, #nav-table td{
    border: 1px solid black;

    padding-left: 26px;
    background-color: black;

}

#logo{
    padding-left: 0px;
}

#nav-table #nav-selectable:hover{
    border: 1px solid purple;
    border-left-width: 30px;
    border-top-width: 2px;
    border-collapse: collapse;
}

#nav-table #nav-divider div{
    margin-left: 5%;
    width: 80%;
    height: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid gainsboro;
}

#nav-table #nav-divider{
    padding-left: 16px;
}

#nav-table a {

    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
#nav-table a:hover {
    cursor: default;
    color: #f1f1f1;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ShowList Container ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media screen and (min-height: 545px){
    #ShowList{
        height: 242px;
    }
}
@media screen and (min-height: 650px){
    #ShowList{
        height: 298px;
    }
}
@media screen and (min-height: 700px){
    #ShowList{
        height: 350px;
    }
}

@media screen and (min-height: 800px){
    #ShowList{
        height: 490px;
    }
}
@media screen and (min-height: 815px){
    #ShowList{
        height: 462px;
    }
}
@media screen and (min-height: 900px){
    #ShowList{
        height: 545px;
    }
}
@media screen and (min-height: 950px){
    #ShowList{
        height: 590px;
    }
}
@media screen and (min-height: 983px){
    #ShowList{
        height: 630px;
    }
}
@media screen and (min-height: 1015px){
    #ShowList{
        height: 670px;
    }
}
@media screen and (min-height: 1032px){
    #ShowList{
        height: 677px;
    }
}
@media screen and (min-height: 1045px){
    #ShowList{
        height: 700px;
    }
}


#ShowList{
    margin-top: 0px;
    padding: 20px 20px 0px 20px;
    background-color: black;
    /* height: 500px; */
    overflow: scroll;
}

#showListTable {
 border-collapse: collapse;
 width: 100%;
}

#showListTable thead,  {
    display: block;
}
#showListTable tbody {
    overflow: scroll;
    height: 450px;
}
#showListTable th {
    padding-bottom: 10px;
    border-bottom: 1.5px solid #303030;
}


#showListTable td:nth-child(1), #showListTable th:nth-child(1) {  width: 4.0650407% ; }
#showListTable td:nth-child(2), #showListTable th:nth-child(2) {  padding-left: 10px; width: 22.7642276% ; }
#showListTable td:nth-child(3), #showListTable th:nth-child(3) {  padding-left: 10px; width: 16.2601626% ;}
#showListTable td:nth-child(4), #showListTable th:nth-child(4) {  padding-left: 10px; width: 16.2601626% ;}
#showListTable td:nth-child(5), #showListTable th:nth-child(5) {  padding-left: 10px; width: 16.2601626% ;}
#showListTable td:nth-child(6), #showListTable th:nth-child(6) {  padding-left: 10px; width: 8.1300813% ;}
#showListTable td:nth-child(7), #showListTable th:nth-child(7) {  padding-left: 10px; width: 8.1300813% ;}
#showListTable td:nth-child(8), #showListTable th:nth-child(8) { padding-left: 10px; width: 8.1300813% ;}







#resultItem {
    width: 100%;
}
#resultItem:hover {
    color: #DF9254;

}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Scroll Bar Stuff ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {

    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
