

.modal-switch {
  cursor: pointer;
  color: royalblue;
}

.modal-switch:hover {
  text-decoration: underline;
}

.modal-transition {
  transition: all 1s ease;
}

.dashboard-container {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  background: linear-gradient(41deg, #7b939a, #e8ffc5, #ecf4b7);
  background-size: 600% 600%;
  animation: linesGradient 50s ease infinite;
}

@keyframes linesGradient {
  0% {
    background-position: 94% 0%;
  }
  50% {
    background-position: 7% 100%;
  }
  100% {
    background-position: 94% 0%;
  }
}

#sidebar {
  background: #0C2340;

  min-width: 250px;
  max-width: 250px;
  height: 100vh;
}

#sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
#sidebar a:hover {
    color: #f1f1f1;
}
