/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Landing Modal ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.modal-switch {
  cursor: pointer;
  color: royalblue;
}

.modal-switch:hover {
  text-decoration: underline;
}

.modal-transition {
  transition: all 1s ease;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Dashboard glow and size ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.dashboard-container {
  position: fixed;
  top: 0;
  left: 0;

  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
  background: linear-gradient(129deg, #8a0785, #f709ee, #a109f7, #ffd800, #953fbd);
  background-size: 600% 600%;
  animation: linesGradient 30s ease infinite;
  cursor: default;
}

@keyframes linesGradient {
  0% {
    background-position: 94% 0%;
  }
  50% {
    background-position: 7% 100%;
  }
  100% {
    background-position: 94% 0%;
  }
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Navbar  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#nav-table {
    font-family: helvetica;
    color: white;
    width: 100%;
    height: 100%;

}
#nav-table thead, #nav-table tbody {
  border: 0;
  display: contents;
}

#nav-table th, #nav-table td {
    border: 1px solid black;
    background-color: black;
}

#logo{
    padding-left: 0px;
}

#nav-table th {
  padding-left: 20px;
}

#nav-selectable {
  padding-left: 20px;
  color: white;
  font-size: 15px;
}

#nav-table #nav-selectable:hover{
    color: #CE6C80;
}

#nav-table #nav-selectable:active{
    border-left: 30px solid purple;
    border-collapse: collapse;
}
#nav-divider div {
    margin-left: 5%;
    width: 80%;
    height: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #404040;
}

#nav-end {
  height: 10px;
}

#nav-table a {
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */
#nav-table a:hover {
    cursor: default;
    color: #f1f1f1;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~Search-bar Container ~~~~~~~~~~~~~~~~~~~~~~~ */

#search-bar{
    position: absolute;
    z-index: 1;
    right: 15px;
    top: 15px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~ShowOne Container ~~~~~~~~~~~~~~~~~~~~~~~ */
#ShowOne {
  padding: 0;
  min-height: 216px;
  max-height: 350px;
}
#left-edge, #poster-div {
  display: inline-block;
  float: left;
}

#left-edge {
  height: 100%;
  width: 30px;
  background-color: black;
}
#poster-div {
  vertical-align: top;
  width: 20%;
  min-width: 141px;
  max-width: 175px;
}
#poster-div div {
  width: 100%;
  height: 20px;
  background-color: black;
}
#poster-div img {
  width: 96%;
  margin: 3px;
  border: solid black 8px;
}

#SelectedResult {
  background-color: black;
  vertical-align: top;
  height: 100%;
  overflow: hidden;
}

#selected-results {
  padding: 20px;
  padding-left: 40px;
  color: white;

}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ShowList Container ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#toggleLabel{
  vertical-align: 8px;
  margin-right: 7px;
  font-size: small;
  color: #888888;
}
#toggleLabel.active{
  color: #ce6c7fe6;
}

#MainComponent {
  position: absolute;
  left: 245px;
  right: 20px;
  min-width: 672px;
  top: 0px;

}

#arrow i{
  vertical-align: bottom;
}

@media screen and (min-height: 545px){
    #ShowList{
        height: 242px;
    }
}
@media screen and (min-height: 650px){
    #ShowList{
        height: 298px;
    }
}
@media screen and (min-height: 700px){
    #ShowList{
        height: 350px;
    }
}

@media screen and (min-height: 800px){
    #ShowList{
        height: 490px;
    }
}
@media screen and (min-height: 815px){
    #ShowList{
        height: 462px;
    }
}
@media screen and (min-height: 900px){
    #ShowList{
        height: 545px;
    }
}
@media screen and (min-height: 950px){
    #ShowList{
        height: 590px;
    }
}
@media screen and (min-height: 983px){
    #ShowList{
        height: 630px;
    }
}
@media screen and (min-height: 1015px){
    #ShowList{
        height: 670px;
    }
}
@media screen and (min-height: 1032px){
    #ShowList{
        height: 677px;
    }
}
@media screen and (min-height: 1045px){
    #ShowList{
        height: 700px;
    }
}

#ShowComponent {
  background-color: black;
  margin-top: 5px;
}

#ShowHeader {
  border-bottom: 1.5px solid #303030;
  padding-top: 10px;
}
#ShowHeader h3, label {
  display: inline-block;
}
#ShowHeader h3 {
  color: #CE6C80;
}

#ShowList{
    margin-top: 0px;
    padding: 20px 20px 0px 20px;
    overflow: scroll;
}

#showListTable {
  border-collapse: collapse;
  width: 100%;
  color: #e2cfe2;
}

#showListTable th {

  font-size: 1.2rem;
  padding-bottom: 10px;
  border-bottom: 1.5px solid #303030;
}


#showListTable td:nth-child(1), #showListTable th:nth-child(1) {  width: 2% ; text-align: center;}
#showListTable td:nth-child(2), #showListTable th:nth-child(2) {  padding-left: 10px; width: 36% ; }
#showListTable td:nth-child(3), #showListTable th:nth-child(3) {  padding-left: 10px; width: 22% ;}
#showListTable td:nth-child(4), #showListTable th:nth-child(4) {  padding-left: 10px; width: 9% ; text-align: center;}
#showListTable td:nth-child(5), #showListTable th:nth-child(5) {  padding-left: 10px; width: 9% ; text-align: center;}
#showListTable td:nth-child(6), #showListTable th:nth-child(6) {  padding-left: 10px; width: 7% ; text-align: center;}
#showListTable td:nth-child(7), #showListTable th:nth-child(7) {  padding-left: 10px; width: 11% ; text-align: center;}
#showListTable td:nth-child(8), #showListTable th:nth-child(8) { padding-left: 10px; width: 4% ; text-align: center;}

#resultItem {
  cursor: default;
  width: 100%;
}

#resultItem td{
  padding: 3px 0px;
}

#resultItem:hover {
  color: #DF9254;

}
#resultItem:active {
  color: #e2cfe2;
  background-color: #3e242a;

}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Scroll Bar Stuff ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {

    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
